* {
	&::-webkit-scrollbar {
		display: none;
	}
}

html {
	--c: calc(100% - (24px * 11) / 12);
}

html,
body {
	box-sizing: border-box;
    background-color: #171717;
    color: #fff;
}

p {
    margin: 0;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}